$color-blue: #00349B
$color-red: #9a3324
$color-orange: #ff6900

$color-dark-grey: #444444
$color-light-grey: #b8b8b8
$color-light-white: #D6D6D6

$color-white-60: rgba(255,255,255,0.6)
$color-white-80: rgba(255,255,255,0.8)
$color-blue-80: transparentize($color-blue, 0.2)

$font: 'Open Sans'

$logo_path: "../img/logos/"
$icon_path: "../img/icons/"
$thumbs_path: "../img/thumbs/"