<div id="intro" class="preload darken more-button" data-autoplay="7000" data-navigation="true" data-pagination="false" data-transition="fade">
    <div class="intro-item" style="background-image: url({{ static("2015/img/carusel/photo1.jpg") }});">
        <div class="caption">
            <h2>Innovation in Management and Business: Future Global Challenge</h2>
            <p>
                The School of Economics and Management of National Research University Higher
                School of Economics (HSE), St. Petersburg invites you to participate in the International
                Scientific Conference that will take place on November 27-28, 2015 at HSE in St. Petersburg
            </p>
            <a class="button white transparent" href="{{ static("2015//files/Conference_Programme.pdf") }}" target="_blank">Download Conference Programme</a>

        </div><!-- caption -->
    </div>

    <div class="intro-item" style="background-image: url({{ static("2015/img/carusel/photo2.jpg") }});">
        <div class="caption">
            <h2>Innovation in Management and Business: Future Global Challenge</h2>
            <p>
                The conference is dedicated to the future evolution of global business within the changing
                realities of the political, economic, ecological and social landscape
            </p>
            <a class="button white transparent" href="{{ static("2015//files/Conference_Programme.pdf") }}" target="_blank">Download Conference Programme</a>

        </div><!-- caption -->
    </div>

    <div class="intro-item" style="background-image: url({{ static("2015/img/carusel/photo3.jpg") }});">
        <div class="caption">
            <h2>Innovation in Management and Business: Future Global Challenge</h2>
            <p>
                The main objective of the conference is to stimulate discussion and generate ideas for
                developing robust models for competiveness and sustainable development in an
                increasingly turbulent environment
            </p>
            <a class="button white transparent" href="{{ static("2015//files/Conference_Programme.pdf") }}" target="_blank">Download Conference Programme</a>

        </div><!-- caption -->
    </div>

    <div class="intro-item" style="background-image: url({{ static("2015/img/carusel/photo4.jpg") }});">
        <div class="caption">
            <h2>Innovation in Management and Business: Future Global Challenge</h2>
            <p>
                A secondary objective is to build closer and stronger
                ties between the higher education sphere and the public and private sectors. <br>
                To this end, we encourage participation in the conference from those with an interest in joining HSE as
                part- or full-time lecturers
            </p>
            <a class="button white transparent" href="{{ static("2015//files/Conference_Programme.pdf") }}" target="_blank">Download Conference Programme</a>
        </div>
    </div>


</div>