<section class="row section" style="background-color:white;" id='fees'>
    <div class="row-content buffer even clear-after">
        <div class="section-title"><h3>Conference Fees</h3></div>

        <p class='centertxt' style='margin-top: 1.34em;margin-bottom: 1.34em;'>
            It does not apply to students, undergraduates, graduate students and staff of the <span style='color:#005baa'>Higher School of Economics</span>
        </p>

        <div class="section-title"><h3>until September 20, 2015</h3></div>
        <div class="column three">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="2300" data-speed="1000" data-refresh-interval="25">2300<i class="fa fa-rub" style='font-size:35px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Russian participants</div>
            </div><!-- count-item -->
        </div>

        <div class="column three">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="2300" data-speed="1000" data-refresh-interval="25">2300<i class="fa fa-rub" style='font-size: 37px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Russian Ph.D. students, Co-authors and Young participants (participants born in 1983 or later)</div>
            </div><!-- count-item -->
        </div>

        <div class="column three">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="200" data-speed="1000" data-refresh-interval="25">200<i class="fa fa-eur" style='font-size: 37px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Foreign participants</div>
            </div><!-- count-item -->
        </div>

        <div class="column three last">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="200" data-speed="1000" data-refresh-interval="25">200<i class="fa fa-eur" style='font-size: 37px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Foreign Ph.D. students, Co-authors and Young participants (participants born in 1983 or later)</div>
            </div><!-- count-item -->
        </div>
        <div class="clear"></div>

        <div class="section-title" style='padding-top: 40px;'><h3>after September 20, 2015</h3></div>
        <div class="column three">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="3500" data-speed="1000" data-refresh-interval="25">3500<i class="fa fa-rub" style='font-size: 37px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Russian participants</div>
            </div><!-- count-item -->
        </div>

        <div class="column three">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="2300" data-speed="1000" data-refresh-interval="25">2300<i class="fa fa-rub" style='font-size: 37px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Russian Ph.D. students, Co-authors and Young participants (participants born in 1983 or later)</div>
            </div><!-- count-item -->
        </div>

        <div class="column three">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="300" data-speed="1000" data-refresh-interval="25">300<i class="fa fa-eur" style='font-size: 37px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Foreign participants</div>
            </div><!-- count-item -->
        </div>

        <div class="column three last">
            <div class="count-item">
                <!--<div class="small-icon red"><i class="fa fa-rub"></i></div>-->
                <div class="count-number-done" data-from="0" data-to="200" data-speed="1000" data-refresh-interval="25">200<i class="fa fa-eur" style='font-size: 37px;'></i></div>
                <div class="count-subject subject-on" style='font-size: 13px;'>Foreign Ph.D. students, Co-authors and Young participants (participants born in 1983 or later)</div>
            </div><!-- count-item -->
        </div>
        <div class="clear"></div>


        <p class='centertxt' style='margin-top: 1.34em;margin-bottom: 1.34em;'>
            <b>Transportation and accommodation are paid by the participants</b>
        </p>

        <div class="section-title" style='padding-top:30px;'><h3>Registration Fee Covers</h3></div>
        <div style='width:50%;margin: 0 auto;'>
            <div class="column four  centertxt" style='padding:10px 0px;'>
                <div class="big-icon red" style='font-size: 40px;color:#005baa;'><i class="fa fa-floppy-o"></i></div>
                <div class="big-icon-text clear-after">
                    <p class="text-s">Conference Materials (including Book of Proceedings on CD ROM)</p>
                </div>
            </div>
            <div class="column four centertxt" style='padding:10px 0px;'>
                <div class="big-icon red" style='font-size: 40px;color:#005baa;'><i class="fa fa-cutlery"></i></div>
                <div class="big-icon-text clear-after">
                    <p class="text-s">Refreshments and snacks during breaks on 27th and 28th November</p>
                </div>
            </div>
            <div class="column four last centertxt" style='padding:10px 0px;'>
                <div class="big-icon red" style='font-size: 40px;color:#005baa;'><i class="fa fa-bus"></i></div>
                <div class="big-icon-text clear-after">
                    <p class="text-s">Excursion “Traditions and innovations in St. Petersburg culture”</p>
                </div>
            </div>
        </div>

    </div>
</section>