
<div class="row">
    <div class="row-content buffer clear-after">
        <section id="top-footer">

            <div class="widget column six">
                <h4>Menu</h4>
                <ul class="plain" >
                    <li onclick=$('#index').scrollView(0);><a class='footer_link'>Main</a></li>
                    <li onclick=$('#themes').scrollView(15);><a class='footer_link'>Conference Themes</a></li>
                    <li onclick=$('#confProg').scrollView(-35);><a class='footer_link'>Conference Programme</a></li>
                    <li onclick=$('#speakers').scrollView(-80);><a class='footer_link'>Keynote Speakers</a></li>
                    <li onclick=$('#programme').scrollView(-80);><a class='footer_link'>Programme Committee</a></li>
                    <li onclick=$('#organising').scrollView(-80);><a class='footer_link'>Organising Committee</a></li>
                    <li onclick=$('#schedule').scrollView(0);><a class='footer_link'>Conference Schedule</a></li>
                    <li onclick=$('#invitation').scrollView(0);><a class='footer_link'>Invitation</a></li>
                    <li onclick=$('#fees').scrollView(0);><a class='footer_link'>Conference Fees</a></li>
                    <li onclick=$('#location').scrollView(-70);><a class='footer_link'>Conference Location</a></li>
                </ul>
            </div>
            <div class="widget column six last">
                <h4>Contacts</h4>
                <p style='color: #A5A5A5;margin:0;'><i style='padding-right:5px;' class="fa fa-phone"></i>8 (911) 999-53-60</p>

            </div>

        </section><!-- top-footer -->

        <section id="bottom-footer">

            <p class="keep-left">&copy; 2015 <a href="http://spb.hse.ru/en/" alt="Higher School of Economics" target="_blank">Higher School of Economics</a>. All Rights Reserved.<br>
                Created by <a href="http://nwdeer.com" alt="nwdeer" target="_blank">nwdeer</a>
            </p>

        </section><!-- bottom-footer -->
    </div><!-- row-content -->
</div><!-- row -->