<section class="row section" id='invitation'>
    <div class="row-content buffer even clear-after">
        <div class="timeline-label column six">

            <div class="section-title"><h3>Call for abstracts</h3></div>
            <div class='centertxt' style='  margin-top: 1.34em;margin-bottom: 1.34em;font-size:16px;'>
                We invite practitioners, public and private sector employees, students, post-graduates,
                professors, researchers and other experts in the themes of the Conference to participate in
                it.
            </div>

            <div class='dot_delimiter'><i class="fa fa-circle"></i></div>
            <div class='centertxt' style='  margin-top: 1.34em;margin-bottom: 1.34em;font-size:16px;'>
                These materials must be original and not under review for publication elsewhere.
            </div>

            <div class='dot_delimiter'><i class="fa fa-circle"></i></div>
            <div class='centertxt' style='  margin-top: 1.34em;margin-bottom: 1.34em;font-size:16px;'>
                To present a report or paper at the Conference, you must <a href='{{ static("2015/files/Author_Instructions.docx") }}' target="_blank">check author instructions</a>, submit electronically your
                entry and the <a href='{{ static("2015/files/Abstract.docx") }}' target="_blank">abstract of your report or paper</a>
                to this address<div class="button blue" style='cursor:default;display: block;text-transform: uppercase;margin: 0 auto;  width: 250px;'>MBInnovation@hse.ru</div>
            </div>

        </div>
        <div class="timeline column six last">
            <div class="section-title"><h3>Key dates</h3></div>
            <div class="year">

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_icon"><i class="fa fa-envelope-o"></i></div>
                    <div class="experience-info clear-after" style='margin-left: 0px; float: left; width: 70%;'>
                        <p style='margin-top:0;padding-left:10px;'>Participants must submit electronically their entry and the abstract of their report or paper<br>
                            <b>by October 20, 2015</b>
                        </p>
                    </div>
                </div>


                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_icon"><i class="fa fa-ticket"></i></div>
                    <div class="experience-info clear-after" style='margin-left: 0px;; float: left; width: 70%;'>
                        <p style='margin-top:0;padding-left:10px;'>Invitation to present will be sent to the authors of accepted abstracts<br>
                            <b>no later than November 2, 2015</b>
                        </p>
                    </div>
                </div>


                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_icon"><i class="fa fa-check"></i></div>
                    <div class="experience-info clear-after" style='margin-left: 0px; float: left; width: 70%;'>
                        <p style='margin-top:0;padding-left:10px;'>Speakers must confirm their participation<br>
                            <b>no later than November 8, 2015</b>
                        </p>
                    </div>
                </div>


                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_icon"><i class="fa fa-files-o"></i></div>
                    <div class="experience-info clear-after" style='margin-left: 0px; float: left; width: 70%;'>
                        <p style='margin-top:0;padding-left:10px;'>Speakers should send full texts and presentations of their reports in English<br><b>bearing the date of 20th November, 2015</b></p>
                    </div>
                </div>



            </div>
        </div>

    </div>
</section>