<!------TIMELINE--->
<section class="row section" id='schedule'>
    <div class="row-content buffer even clear-after">
        <div class="section-title"><h3>Conference Schedule</h3></div>
        <div class="timeline column twelve">
            <div class="year">
                <time datetime="Friday, 27th November, 2015" class='timeline_date'>Friday, 27th November, 2015</time>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">10.00 – 10.30</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Conference registration</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">10.00 – 10.30</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Welcome coffee</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">10.30 – 11.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Opening ceremony</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">11.00 – 13.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Keynote speeches</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">13.00 – 14.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Lunch break</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">14.00 – 16.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Paper presentations (3 parallel tracks)</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">16.00 – 16.30</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Coffee break</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">16.30 – 18.30</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Roundtable “Russian journals in economics and management: good and different?”</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">18.30</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Official conference dinner</p>
                    </div>
                </div>


            </div>
            <!-- year -->

            <div class="year">
                <time datetime="Saturday, 28th November, 2015" class='timeline_date'>Saturday, 28th November, 2015</time>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">10.00 – 11.30</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Paper presentations (3 parallel tracks)</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">11.30 – 12.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Coffee break</p>
                    </div>
                </div>




                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">12.00 – 14.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Roundtable “Aspects of innovation development in Russia”</p>
                    </div>
                </div>


                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">14.00 – 14.30</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Coffee break</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">14.30 – 15.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Plenary session and conference feedback</p>
                    </div>
                </div>

                <div class="experience">
                    <span class="circle"></span>
                    <div class="experience-img timeline_time">15.00</div>
                    <div class="experience-info clear-after timeline_info">
                        <p>Excursion “The passion of the fateful”</p>
                    </div>
                </div>

            </div>
            <!-- year -->


        </div><!-- timeline -->

    </div>
</section>