<div class="corner hidden-xs">
    <img src="img/thumbs/corner_right.svg">
</div>

<section class="benefits">

    <div class="container">
        <h2>Преимущества курса</h2>
        <div class="benefit-list">

            <div class="col-lg-3 col-sm-12 benefit">
                <div class="icon computer"></div>
                <div class="benefit-title">Очная и дистанционная формы</div>
                <div class="benefit-text">Вам нравится живое общение с преподавателем? Или же вы предпочитаете обучаться в комфортных условиях родного дома, поддерживая связь с преподавателем дистанционно?</div>
            </div>

            <div class="col-lg-3 col-sm-12 benefit">
                <div class="icon signature"></div>
                <div class="benefit-title">Портфолио за время обучения</div>
                <div class="benefit-text">За время обучения вы сформируете свое собственное портфолио, которое необходимо при устройстве на работу.</div>
            </div>

            <div class="col-lg-3 col-sm-12 benefit">
                <div class="icon education"></div>
                <div class="benefit-title">Диплом<br>Университета ИТМО</div>
                <div class="benefit-text">Диплом Университета ИТМО вызывает уважение работодателей и признается не только в России, но и за рубежом.</div>
            </div>

            <div class="col-lg-3 col-sm-12 benefit">
                <div class="icon time"></div>
                <div class="benefit-title">4 месяца<br>обучения</div>
                <div class="benefit-text">Этого достаточно, чтобы освоить новую профессию! Опытные преподаватели Университета ИТМО передадут вам свои знания и опыт, открывая двери в неповторимый мир дизайна.</div>
            </div>


        </div>
    </div>
</section>