<section class="call">
    <div class="container">
        <h2>Call for papers</h2>

        <div class="row intro-txt">
            <div class="col-lg-6">
                <p>
                    St. Petersburg School of Economics and Management of National Research University
                    Higher School of Economics (HSE) invites you to submit proposals for mini-tracks and
                    individual papers for the International Conference "BRICS Global Business &amp; Innovation
                    Conference" that will be held in St. Petersburg on September 14-15, 2017.
                </p>
            </div>
        </div>

        <div class="row col-lg-6">
            <div class="call-block position">
                <div>

                    The scope of the conference encompasses three areas to provide a unique forum for
                    exploring the development of global business and innovation through the lens of the
                    BRICS countries:

                    <div class="position-items">
                        <div class="position-item">Global economic development and the rise of the BRICS</div>
                        <div class="position-item">Global Business Perspectives and Practices</div>
                        <div class="position-item">BRICS as a locus of Global Innovation</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6 macbook hidden-md hidden-sm hidden-xs">
            {#<img src="{{ static("/2017/icons/callforpapers.svg") }}">#}
        </div>

    </div>
</section>