<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-2 title">
                <div class="title">Уже представили себя в роли ведущего дизайнера?</div>
                <div class="more">Успейте записаться прямо сейчас!</div>
            </div>
            <div class="col-lg-5 button">
                <button class="red-fill" onclick="scrollingTo('section.sign-now')">Записаться</button>
            </div>
        </div>
    </div>
</section>