<section class="cv">
    <div class="container">
        <h2>Ваше резюме</h2>
        <div class="row intro-txt">
            <div class="col-lg-6">
                <p>Всего 4 месяца и вы - квалифицированный специалист, способный разрабатывать макеты полиграфической продукции любой сложности с использованием современных технологий!</p>
            </div>
        </div>

        <div class="row  col-lg-6">
            <div class="cv-block position">
                <div>
                    <h3>Должность</h3>
                    <div class="position-items">
                        <div class="position-item">Дизайнер полиграфии</div>
                        <div class="position-item">Ведущий дизайнер</div>
                    </div>
                </div>
            </div>

            <div class="cv-block skills">
                <div>
                    <h3>Ключевые умения и навыки</h3>
                    <div class="skills-items">
                        <ul>
                            <li>Умение креативно мыслить</li>
                            <li>Знание основ композиции, истории и направлений дизайна</li>
                            <li>Владение программами Adobe PhotoShop, Adobe InDesign‚ Adobe Acrobat‚ Corel Draw</li>
                            <li>Верстка, препресс</li>
                            <li>Возможность создавать с нуля графические проекты любой сложности</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cv-block education">
                <div>
                    <h3>Образование</h3>
                    <div class="education-place">
                        высшее, курс профессиональной переподготовки <br>"Дизайн и верстка полиграфической продукции" в Университете ИТМО
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 macbook hidden-md hidden-sm hidden-xs">
            <img src="img/thumbs/Macbook-Flat-Mockup.svg">
            <video autoplay loop>
                <source src="video/speed-art.mp4" type="video/mp4">
            </video>

        </div>
    </div>
</section>