<section class="dates">
    <h2>Important Dates</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 dates-list">

                <div class="start-point center-block"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>

                <div class="point center-block">
                    <div class="icon"></div>
                    <div class="title">Submissions will be open</div>
                    <div class="date">January 15, 2017 -- May 15, 2017</div>
                </div>

                <div class="point center-block">
                    <div class="icon"></div>
                    <div class="title">Notification of paper acceptance (with any requested changes)</div>
                    <div class="date">June 1, 2017</div>
                </div>

                <div class="point center-block">
                    <div class="icon"></div>
                    <div class="title">Early bird registration closes</div>
                    <div class="date">June 15, 2017</div>
                </div>

                <div class="point center-block">
                    <div class="icon"></div>
                    <div class="title">Final paper due (with any changes)</div>
                    <div class="date">July 1, 2017</div>
                </div>

                <div class="point center-block last">
                    <div class="icon"></div>
                    <div class="title">Final Author registration date</div>
                    <div class="date">July 15, 2017</div>
                </div>


            </div>
        </div>

    </div>
</section>