<section class="dist">

    <div class="corner">
        <img src="img/thumbs/corner_left.svg">
    </div>

    <div class="container-fluid">
        <div class="heading"><h2>Дистанционное обучение</h2></div>
        <div class="col-lg-4 dist-block learn">
            <div class="wrap first">
                <div class="icon"></div>
                <div class="title">Изучайте по-разному</div>
                <div class="text">Материалы лекций - это не только текстовая информация, но и видеоуроки от преподавателей. А при выполнении практических заданий вы сможете опираться на подробные инструкции</div>
            </div>
        </div>
        <div class="col-lg-4 dist-block chat">
            <div class="wrap">
                <div class="icon"></div>
                <div class="title">Общайтесь с преподавателями</div>
                <div class="text">В системе вы можете задать интересующие вас вопросы и получить оперативный ответ от опытных наставников. Или же связаться любым другим удобным образом - по электронной почте или видеосвязи</div>
            </div>
        </div>
        <div class="col-lg-4 dist-block control">
            <div class="wrap">
                <div class="icon"></div>
                <div class="title">Контроль обучения</div>
                <div class="text">Для закрепления полученных знаний в ходе изучения курса, вам будет предложено пройти тест, или выполнить творческую работу - например, создать буклет для театральной выставки</div>
            </div>
        </div>

    </div>

</section>