<section class="feedbacks">
    <div class="container">
        <h2>Отзывы о курсе</h2>
        <div class="row col-lg-12">
            <div class="col-lg-2 chevrone left"><i class="fa fa-chevron-left"></i></div>
            <div class="col-lg-8 feedback">
                <div class="item">
                    <div class="text">Для меня курс Дизайн и Полиграфия стал громом среди ясного неба! Он осветил мне путь в лакшари жизнь, где нет больше места тяжелой физической работе (ранее я работал в кузнице). Теперь же я перешел в цех проектирования молотов, по моим эскизам и 3д моделям создаются воистину богоподобные творения, достойные единиц. Спасибо ИТМО и всем его преподавателям за то, что они дали мне эти знания за столь короткий срок и без необходимости являться очно (я живу в Асгарде).</div>
                    <div class="author">Петр Викторович Тор</div>
                    <div class="work">Ведущий дизайнер холодного оружия<br> центральной кузницы Асгарда</div>
                </div>

                <div class="item">
                    <div class="text">Долгое время мне была интересна профессия дизайнера, однако в силу особенностей моего характера, мне не удавалось обучаться самостоятельно. К счастью, я прошла обучение в ИТМО по специальности полиграфия и дизайн. Это позволило мне обрести необходимые навыки владения такими программами, как Corel Draw, Adobe Photoshop и Adobe Illustrator, получить знания об особенностях работы с веб страницами и печатной продукцией. А авторитетный диплом ИТМО позволил найти мне работу, которая мне интересна.</div>
                    <div class="author">Ирина Демьяновна Гротова</div>
                    <div class="work">Дизайнер полиграфии<br>в агенстве "Infotech"</div>
                </div>

                <div class="item">
                    <div class="text">Высококвалифицированный преподавательский состав, современная материально-техническая база и прикладные знания, вкупе с возможностью удаленного обучения не оставляют конкурентов при выборе места для обучения профессии дизайнера. ИТМО — одно из лучших мест для обучения специалистов в своем деле, и это не пустые слова. Я проверил это на себе, и очень рад, что принял решение учиться именно здесь.</div>
                    <div class="author">Сергей Константинович Лязь</div>
                    <div class="work">Ведущий специалист по компьютерной графике<br> интернациональной корпорации "Magazines Polygraphics Inc."</div>
                </div>

            </div>
            <div class="col-lg-2 chevrone right"><i class="fa fa-chevron-right"></i></div>
        </div>
    </div>
</section>