<div class="container">
    <div class="row">
        <div class="col-lg-3 credentials">
            The School of Economics and Management is the result of bringing together the HSE St Petersburg Faculties of Economics and Management. The new school which combines the best of each of the former faculties offers four Bachelor’s and two Master’s degree courses.
        </div>
        <div class="col-lg-4 col-lg-offset-2 connection">
            <div class="link">
                <i class="fa fa-phone margin" aria-hidden="true"></i>
                <div class="txt">+7 (911) 999-53-60</div>
            </div>

            <div class="link">
                <i class="fa fa-envelope margin" aria-hidden="true"></i>
                <div class="txt">brics-ic@hse.ru</div>
            </div>

            <div class="link">
                <i class="fa fa-internet-explorer margin" aria-hidden="true"></i>
                <div class="txt"><a href="http://scem.spb.hse.ru/en/" target="_blank">www.scem.spb.hse.ru/en/</a></div>
            </div>

            <div class="link">
                <i class="fa fa-compass" aria-hidden="true"></i>
                <div class="txt">St. Petersburg, 194100<br>Russia<br>3, Kantemirovskaya ul.</div>
            </div>

        </div>

    </div>
    <div class="row copyrights col-lg-10">
        <div>© HSE 1993–{{ "now"|date("Y") }}</div>
    </div>
</div>