<div class="container">
    <div class="row">
        <div class="col-lg-3 credentials">
            Кафедра компьютерного проектирования и дизайна Санкт-Петербургского национального исследовательского университета информационных технологий, механики и оптики (Университет ИТМО).
        </div>
        <div class="col-lg-2 col-lg-offset-2 connection">
            <div class="link">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="txt">
                    +7 (812) 373-32-68<br>
                    +7 (911) 958-61-41
                </div>
            </div>
            <div class="link">
                <i class="fa fa-envelope margin" aria-hidden="true"></i>
                <div class="txt">do@limtu.ru</div>
            </div>
            <div class="link">
                <i class="fa fa-internet-explorer margin" aria-hidden="true"></i>
                <div class="txt"><a href="http://design.ifmo.ru" target="_blank">design.ifmo.ru</a></div>
            </div>

            <div class="link">
                <i class="fa fa-compass" aria-hidden="true"></i>
                <div class="txt">Санкт-Петербург<br>ул. Гастелло, 12,<br>каб. 312</div>
            </div>

        </div>
        <div class="col-lg-2 col-lg-offset-1 social">
            <div class="link">
                <i class="fa fa-vk margin" aria-hidden="true"></i>
                <div class="txt"><a href="https://vk.com/ifmo.online" target="_blank">ВКонтакте</a></div>
            </div>
            <div class="link">
                <i class="fa fa-facebook margin" aria-hidden="true"></i>
                <div class="txt"><a href="https://www.facebook.com/ifmodesign" target="_blank">Facebook</a></div>
            </div>
            <div class="link">
                <i class="fa fa-twitter margin" aria-hidden="true"></i>
                <div class="txt"><a href="http://design.ifmo.ru" target="_blank">Twitter</a></div>
            </div>
            <div class="link">
                <i class="fa fa-instagram margin" aria-hidden="true"></i>
                <div class="txt"><a href="http://design.ifmo.ru" target="_blank">Instagram</a></div>
            </div>


        </div>

    </div>
    <div class="row copyrights col-lg-10">
        <div>Информация © 1993–2016 Университет ИТМО</div>
        <div>Разработка © 2016, магистранты кафедры компьютерного проектирования и дизайна<br>Ампилогов Николай, Сверчков Василий, Шарыпов Павел</div>
    </div>
</div>