<section class="objectives">

    <div class="container">

        <div class="objective-list">

            <div class="col-lg-6 col-sm-12 objective">
                <div class="icon"><img src="{{ static('/2017/icons/brainstorm.svg') }}"></div>
                <div class="objective-text">
                    The main objective of the conference is to stimulate discussion and generate ideas for
                    developing robust models for promoting competitiveness and sustainable development in
                    an increasingly turbulent environment.
                </div>

            </div>

            <div class="col-lg-6 col-sm-12 objective">
                <div class="icon"><img src="{{ static('/2017/icons/report.svg') }}"></div>
                <div class="objective-text">
                    The main emphasis is on BRICS countries and
                    their contribution to global business and innovation development, but other contributions
                    to the theory and practice of management and economics are welcome.
                </div>
            </div>

        </div>
    </div>
</section>