<section class="program">
    <h2>Краткая программа курса</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 program-list">

                <div class="start-point center-block"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>

                <div class="point center-block">
                    <div class="icon composition"></div>
                    <div class="title">Основы композиции</div>
                    <ul class="more">
                        <li>Дизайн как художественное проектирование эстетического облика среды</li>
                        <li>Цвет и стиль в дизайне</li>
                        <li>Основы дизайн - композиции</li>
                        <li>Дизайн предметной среды</li>
                    </ul>
                </div>

                <div class="point center-block">
                    <div class="icon photoshop"></div>
                    <div class="title">Adobe Photoshop</div>
                    <ul class="more">
                        <li>Рабочая область</li>
                        <li>Создание и редактирование пиксельных изображений</li>
                        <li>Работа со слоями</li>
                        <li>Работа с трехмерными изображениями</li>
                        <li>Оптимизация изображений для Web</li>
                    </ul>
                </div>

                <div class="point center-block">
                    <div class="icon corel"></div>
                    <div class="title">CorelDRAW</div>
                    <ul class="more">
                        <li>Инструменты для создания стандартных объектов</li>
                        <li>Создание и обработка текстов</li>
                        <li>Модели представления цветов</li>
                        <li>Применение специальных эффектов</li>
                        <li>Многостраничные документы и использование слоев</li>
                        <li>Подготовка электронных документов</li>
                        <li>Создание пользовательских элементов</li>
                    </ul>
                </div>

                <div class="point center-block">
                    <div class="icon print"></div>
                    <div class="title">Верстка и допечатная подготовка</div>
                    <ul class="more">
                        <li>Верстка в Adobe InDesign</li>
                        <li>Adobe Acrobat и файлы PDF</li>
                        <li>Этапы создания полиграфической продукции</li>
                        <li>Полиграфический процесс</li>
                        <li>Цветоделение</li>
                    </ul>
                </div>

                <div class="point last center-block">
                    <div class="icon design"></div>
                    <div class="title">Практический дизайн</div>
                    <ul class="more">
                        <li>Создание визитки</li>
                        <li>Создание фирменной визитки и размещение на листе формата А4</li>
                        <li>Верстка буклета формата A4</li>
                        <li>Верстка брошюры формата A5</li>
                        <li>Верстка книги на пружинке формата A4</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>