<section class="publications">
    <div class="container">
        <h2>Publications</h2>
        <div>
            Papers accepted for the Conference will be published in the conference proceedings,
            subject to author registration and payment. <br>

            The conference proceedings will be assigned an ISBN on publication and will be submitted for possible inclusion into scientific
            database Web of Science. <br>

            Additionally, papers that have been presented at the conference will also be considered for
            publication in international and Russian journals.
        </div>
    </div>
</section>