<section class="sign-now">
    <div class="container">
        <h2>Начните обучение прямо сейчас</h2>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="sign-offer">Записаться на курс<br>"Дизайн и верстка полиграфической продукции"</div>

                <table>
                    <thead>
                    <th colspan="2">Специальное предложение</th>
                    </thead>
                    <tr>
                        <td class="indoor">Очная форма</td>
                        <td>Дистанционная форма</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="old">90 000 рублей</div>
                            <div class="new">45 000 рублей</div>
                        </td>
                        <td>
                            <div class="old">41 500 рублей</div>
                            <div class="new">24 500 рублей</div>
                        </td>
                    </tr>
                </table>
                <div class="credit">Возможна поэтапная оплата</div>

                <div class="form">
                    <form>
                        <input type="text" id="name" placeholder="ФИО">
                        <input type="text" id="email" placeholder="Контактный e-mail">
                        <input type="submit" id="button" value="Отправить заявку">
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>