<section class="speakers">
    <div class="container">

        <div class="row">
            <h2>Confirmed Keynote Speakers</h2>

            <div class="speakers-item col-md-12">
                <div class="col-md-3 hidden-xs col-sm-3">
                    <div class="speaker-photo" style='background-image:url("{{ static('2017/img/people/radosevic.jpg') }}")'></div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 speaker-info">
                    <div class="speaker-name"><a href="https://www.ucl.ac.uk/ssees/people/slavo-radosevic" target="_blank">Slavo Radosevic</a></div>
                    <div class="speaker-university">University College London (UCL), England</div>
                    <div class="speaker-description">
                        His research is in the area of economics of technological change and innovation studies with special emphasis on countries of central and Eastern Europe.
                        He does research from neo-Schumpeterian perspective  in particular exploring issues of growth and structural change through innovation systems, entrepreneurship, international business and innovation policy perspectives.
                    </div>
                </div>
            </div>

            <div class="speakers-item col-md-12">
                <div class="col-md-3 col-sm-3 hidden-xs">
                    <div class="speaker-photo" style='background-image:url("{{ static('2017/img/people/lin.jpg') }}")'></div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 speaker-info">
                    <div class="speaker-name"><a href="http://en.nsd.edu.cn/article.asp?articleid=6948" target="_blank">Justin Yifu Lin</a></div>
                    <div class="speaker-university">Peking University, China</div>
                    <div class="speaker-description">Lin is the founder and first director of the China Center for Economic Research and a former professor of economics at Peking University and at the Hong Kong University of Science and Technology.</div>
                </div>
            </div>


            <div class="speakers-item col-md-12">
                <div class="col-md-3 col-sm-3 hidden-xs">
                    <div class="speaker-photo" style='background-image:url("{{ static('2017/img/people/ramamurti.jpg') }}")'></div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 speaker-info">
                    <div class="speaker-name"><a href="http://www.damore-mckim.northeastern.edu/faculty/r/ramamurti-ravi" target="_blank">Ravi Ramamurti</a></div>
                    <div class="speaker-university">Northeastern University (Boston), USA</div>
                    <div class="speaker-description">Professor Ramamurti does research and consulting on corporate strategy and business-government relations in emerging economies. He is currently researching the internationalization strategies of multinationals from Emerging Markets. He teaches courses on the global business environment and global strategy.</div>
                </div>
            </div>


        </div>

    </div>
</section>