<section class="submission-details">
    <div class="container">
        <div class="row col-lg-12">

            <h2>Submission details</h2>
            <div class="text">


                {#<div>Submissions of papers must be made through the Conference website.</div>#}
                {#<div>#}{#<a href="/2017/submit" target="_blank">#}{#<button>Submit proposal</button>#}{#</a>#}{#</div>#}

                <div>
                    In addition to the main conference topics, the conference committee invites submissions of
                    specialist mini tracks. To submit a mini-track please e-mail <span class="email">brics-ic@hse.ru</span> with your
                    suggestion. We would like to receive one paragraph describing suggested mini track topics
                    <b>by April, 15</b>. The idea of a mini track is to focus on a BRICS Global Business &amp;
                    Innovation topic that you are actively involved in and which you think you can attract a
                    particular group of people/researchers to the conference. If your topic will be selected you
                    will then need to provide us with a call for papers to go on to the web.
                </div>
            </div>

        </div>
    </div>
</section>

<section class="welcomed_approaches">
    <div class="container">
        <div class="row col-lg-12">
            <div>
                Academic research, case studies and work-in- progress are welcomed approaches. PhD
                Research, proposals for roundtable discussions, non-academic contributions and product
                demonstrations based on the main themes are also invited.
            </div>
        </div>
    </div>
</section>